.presentation-container {
	border-radius: 20px;
	border: 1px solid #9b8ac4;
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.25),
		rgba(255, 255, 255, 0.1)
	);
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1), inset 0 1px 1px
		rgba(255, 255, 255, 0.6), inset 0 -1px 1px rgba(0, 0, 0, 0.05);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	margin: 0px 20px;
	overflow: hidden;
}

.presentation-container::before {
	content: "";
	position: absolute;
	width: 227px;
	height: 227px;
	border-radius: 325px;
	background-color: rgba(205, 109, 77, 0.05);
	top: -60px;
	right: -70px;
	z-index: -1;
	pointer-events: none;
}

.presentation-container::after {
	content: "";
	position: absolute;
	width: 104px;
	height: 104px;
	border-radius: 50%;
	background-color: rgba(74, 144, 184, 0.05);
	top: 70px;
	right: 90px;
	z-index: -2;
	pointer-events: none;
}

.background-circle {
	position: absolute;
	width: 127px;
	height: 127px;
	border-radius: 50%;
	background-color: rgba(155, 138, 196, 0.1);
	bottom: -20px;
	left: -20px;
	z-index: -1;
	pointer-events: none;
}

.presentation-title {
	font-size: 24px;
	padding: 20px;
	color: var(--title-color);
	font-family: var(--title-font);
}

.presentation-text {
	font-size: 16px;
	padding: 20px;
	color: var(--text-color);
	font-family: var(--text-font);
}

.presentation-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: start;
	padding: 10px;
	list-style: none;
}

.presentation-list li {
	display: flex;
	justify-content: flex-start;
	align-items: left;
}

.presentation-social-links {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 20px;
	padding: 10px;
}
