:root {
	--background-color: F5F5F5;
	--title-font: "Cormorant Garamond", serif;
	--title-color: #cd6d4d;
	--text-font: "Roboto", serif;
	--text-color: #333333;
	--color1: #cd6d4d;
	--color2: #9b8ac4;
	--color3: #4a90b8;
	--color4: #b7c4b1;
}
